<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PRN292_Spr2020_B1ConnectionString" connectionString="Data Source=localhost;Initial Catalog=PRN292_Spr2020_B1;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>