USE [J3.L.P0013]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 02/16/2020 10:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Menu] ([id], [name], [content], [price]) VALUES (1, N'Claritas est etiam processus', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.', 15)
INSERT [dbo].[Menu] ([id], [name], [content], [price]) VALUES (2, N'Duis autem vel eum iriure dolor.', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.', 20)
INSERT [dbo].[Menu] ([id], [name], [content], [price]) VALUES (3, N'Eodem modo typi, qui nunc nobis videntur.', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.', 25)
/****** Object:  Table [dbo].[Information]    Script Date: 02/16/2020 10:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[content] [nvarchar](250) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Information] ([id], [name], [content]) VALUES (1, N'imgCover', N'map.jpg')
INSERT [dbo].[Information] ([id], [name], [content]) VALUES (2, N'address', N'The Sushi Restaurant
New York, NY, USA')
INSERT [dbo].[Information] ([id], [name], [content]) VALUES (3, N'tel', N'12345')
/****** Object:  Table [dbo].[Article]    Script Date: 02/16/2020 10:46:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[id] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[imgLink] [nvarchar](50) NOT NULL,
	[shortContent] [nvarchar](max) NOT NULL,
	[fullContent] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
