USE [photographer]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 03/16/2020 15:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gallery](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[pictureCover] [nvarchar](50) NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_Introduction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Gallery] ([id], [name], [pictureCover], [description]) VALUES (1, N'Gallery1', N'i1.jpg', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation')
INSERT [dbo].[Gallery] ([id], [name], [pictureCover], [description]) VALUES (2, N'Gallery2', N'i2.jpg', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation')
INSERT [dbo].[Gallery] ([id], [name], [pictureCover], [description]) VALUES (3, N'Gallery3', N'i3.jpg', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation')
/****** Object:  Table [dbo].[Contact]    Script Date: 03/16/2020 15:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[id] [int] NOT NULL,
	[address] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[about_me] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picture]    Script Date: 03/16/2020 15:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picture](
	[id] [int] NOT NULL,
	[picture] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Picture] ([id], [picture]) VALUES (1, N'i1.jpg')
INSERT [dbo].[Picture] ([id], [picture]) VALUES (2, N'i2.jpg')
INSERT [dbo].[Picture] ([id], [picture]) VALUES (3, N'i3.jpg')
/****** Object:  Table [dbo].[Gallery_Picture]    Script Date: 03/16/2020 15:48:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gallery_Picture](
	[galleryId] [int] NOT NULL,
	[pictureId] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[galleryId] ASC,
	[pictureId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Gallery_Picture] ([galleryId], [pictureId]) VALUES (1, 1)
INSERT [dbo].[Gallery_Picture] ([galleryId], [pictureId]) VALUES (1, 2)
INSERT [dbo].[Gallery_Picture] ([galleryId], [pictureId]) VALUES (1, 3)
/****** Object:  ForeignKey [FK__Table_1__gId__2C3393D0]    Script Date: 03/16/2020 15:48:35 ******/
ALTER TABLE [dbo].[Gallery_Picture]  WITH CHECK ADD FOREIGN KEY([galleryId])
REFERENCES [dbo].[Gallery] ([id])
GO
/****** Object:  ForeignKey [FK__Table_1__pId__2D27B809]    Script Date: 03/16/2020 15:48:35 ******/
ALTER TABLE [dbo].[Gallery_Picture]  WITH CHECK ADD FOREIGN KEY([pictureId])
REFERENCES [dbo].[Picture] ([id])
GO
