
/****** Object:  Database [PRN292_PE_18Fall]    Script Date: 10/26/2018 11:26:02 AM ******/
CREATE DATABASE [PRN292_PE_18Fall]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN292_PE_18Fall].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN292_PE_18Fall]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/26/2018 11:26:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[RequiredDate] [date] NOT NULL,
	[ShipAddress] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/26/2018 11:26:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Sex] [nvarchar](10) NOT NULL,
	[Hometown] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerName], [RequiredDate], [ShipAddress]) VALUES (1, N'Hoàng Đức Chính', CAST(N'2018-10-21' AS Date), N'ha noi')
INSERT [dbo].[Orders] ([OrderID], [CustomerName], [RequiredDate], [ShipAddress]) VALUES (3, N'Hoàng Đức Chính', CAST(N'2017-09-20' AS Date), N'Số 10 tôn đản')
INSERT [dbo].[Orders] ([OrderID], [CustomerName], [RequiredDate], [ShipAddress]) VALUES (6, N'Doãn Thu Hà', CAST(N'2018-01-02' AS Date), N'100 hoàng quốc việt')
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [Name], [Sex], [Hometown]) VALUES (1, N'Hoang Van Nam', N'Nam', N'Hà Nam')
INSERT [dbo].[Students] ([StudentID], [Name], [Sex], [Hometown]) VALUES (2, N'Nguyễn Lan Chi', N'Nữ', N'Hà Nội')
INSERT [dbo].[Students] ([StudentID], [Name], [Sex], [Hometown]) VALUES (4, N'Đỗ Xuân Hùng', N'Nam', N'Điện Biên')
SET IDENTITY_INSERT [dbo].[Students] OFF
USE [master]
GO
