<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <!-- Here is the base address of our service -->
  <appSettings>
    <add key = "baseAddress" value = "http://localhost:32469/CarOrderService"/>
  </appSettings>

  <!-- Establish the WCF settings for the ServiceHost type -->
  <system.serviceModel>
    <services>
      <!-- The fully-qualified name of our service 
           Notice we are now using the behaviorConfiguration element
           to connecte the behavior to our service -->
      <service name="CarOrderServiceLib.CarOrderService" 
               behaviorConfiguration = "CarOrderServiceBehaviors">
        <!-- Define the A, B, C of this endpoint -->
        <endpoint address="http://localhost:32469/CarOrderService" 
                  binding="basicHttpBinding"
                  contract="CarOrderServiceLib.ICarOrder" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>      
    </services>

    <!-- A custom behavior definition -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CarOrderServiceBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>