<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PRN292_20Spr_TrialConnectionString" connectionString="Data Source=localhost;Initial Catalog=PRN292_20Spr_Trial;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>