<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRN292_19_SpringConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PRN292_19_Spring;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>